@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    background-color: black;
    color: #ffffff;
    padding: 0;
    margin: 0;
}


h1{
    display: grid;
    place-items: center;
    align-items: center;
}
p{
    align-items: center;
}
/* 
span{
    display: center;
    color: aqua;
} */
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 115vh;
}

.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden{
        
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

.logo:nth-child(5) {
    transition-delay: 800ms;
}

.logo:nth-child(6) {
    transition-delay: 1000ms;
}

.logo:nth-child(7) {
    transition-delay: 1200ms;
}

